<h1>Index de mes tâches</h1>

<% @tasks.each do |task|%>
<h2> <u>Titre:</u> <%= task.title %> </h2>
<p><u><em>description:</em></u> <%= task.details %></p>
<p>Completed ? <strong><%= task.completed %></strong></p>
<%= link_to "Go check task", task_path(task.id) %>
<% end %>